.wrap{
    align-items: center;
    width: 1200px;
    height: 100px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
    margin-left: 15%;
    background-color: darkgray;
    padding: 5px;
}
.block1, .block2, .block3{
    background-color: crimson;
    width: 300px;
    height: 50px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    
    
}
h2{
    /* text-align: center; */
    margin-top: 10px;
}
@media screen and (max-width:600px){
    .wrap{
        flex-direction: column;
        height: 500px;
        width: 400px;
        text-align: center;
        margin-right: 10px;
        margin-top: 10px;
        
    }
    .photo{
        flex-direction: column;
        height: 500px;
        width: 400px;
        display: none;
        .button{
            text-align: center;
            margin-top: 10px;
        }
    }

}
.photo{
    text-align: center;
    margin-top: 100px;
}
body{
    background-color: antiquewhite;
}
.button{
    align-content: center;
}
